body{
  font-family: Poppins , sans-serif;
  background-color: #1B1B1B;
}



/* codigo para el header */
.header{
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #1B1B1B;


}



.header .container-header{
  display: inline-flex;
  align-items: center;


}


.logo{
  margin-right: 200px;

}

.logo h1 {
  color: blue;
  margin-left: 40px;
}


.enlaces{
  margin-right: 40px;
}

.enlaces a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-right: 18px;

}



.enlaces a:hover{
color:yellow;

}


.i .Registrate{
  text-decoration: none;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 8px 10px 8px 10px;
  color: white;
  margin-right: 20px;

}

.i .Registrate:hover{
background-color: #3B3B3B;

}


.i .Iniciar-sesion{
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 8px 10px 8px 10px;
  color: black;
  margin-right: 20px;

}



/* codigo secion principal */


.main {
  padding: 100px;
  padding-top: 180px;
  text-align: center;
}

.container-main{
  margin: 0 auto;
  width: 80%;

}

.descri-ruta{
  height: 400px;

}

.descri-ruta h1{
  color: white;
  font-size: 40px;

}

.descri-ruta p{
  color: #E0E0E0;

}

.descri-ruta H4{
  color: #F2DD19;
  font-style: italic;
  font-weight: 100;

}

/* codigo para la seccion de buses */

.buses{
  padding: 200px;
  padding-top: 60px;
  text-align: center;
}

.container-bus{
  margin: 0 auto;
}



.titulo h1{
  color: white;
  font-size: 40px;
}

.descri-bus{
  padding: 20px;
}

.descri-bus p{
  color:#E0E0E0;
  font-size: 18px;
}

/* codigo para la cart de los buses */

.container-buses{
  
  padding: 80px;
  display: inline-flex;
}

.cart-bus{
  width: 240px;
  height: 300px;
  margin-right: 30px;
  border-radius: 14px;
  background: radial-gradient(221.67% 128.37% at 107.64% 16.7%, rgba(255, 231, 17, 0.7) 14.58%, #303030 14.59%, #303030 100%)
}

.nombre-ruta{
  padding-top: 5px;
  text-align: left;
}
.cart-bus .nombre-ruta h2 {
  color: white;
  font-size: 20px;
  margin-left: 40px;
}

.referencia {
  text-align: left;

}

.referencia p{
  width: 80px;
  border: 1px solid #090909;
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
  margin-left: 40px;
  color: #CFCFCF;
}



.paradas li{
  margin-left: 5px;
  color: #E0E0E0;
}

.info p{
  color:#E0E0E0;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;

}

.detalles{
  padding-top: 10px;

}

.detalles a{
  text-decoration: none;
  height: 40px;
  border-radius: 8px;
  color:#000000;
  background-color: #0B98E8;
  padding: 5px 40px 5px 40px;
}
